
.bgGreen{
  background-color: #46f08a;
}
h2{
  font-weight: bolder;
}
h1{
  font-weight: bolder;
}
.circle{
  height: 200px;
  width: 225px;
  border-radius: 50%;
  border: 2px solid black;
  
}
.circleImage {
  background-image: url("../../assets/profilkep.jpg");
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}
.serviceBg{
  color: #185c33;
  background-color: beige;
}


