<app-navbar></app-navbar>

<div class="row">
    <div class="col-12 col-lg-6 col-md-8 col-sm-6 bgGreen pt-5 pb-5">
        <h1 class="middle">TIGO</h1>
        <h2 class="middle">SVÉD GYÓGY MASSZÁZS</h2>
        <p class="middle mobileFix">Lazulj el, gyógyulj természetesen</p>
    </div>
    <div class="col-12 col-lg-6 col-md-4 col-sm-6 bgGreen middle ">
        <div class="circle">
            <div class="circleImage"></div>
        </div>
    </div>
</div>
<div class="row serviceBg">
    <div class="col-12 col-md-12 pt-5">
        <h2 class="services-title middle">Szolgáltatások</h2>
    </div>
    <div class="pb-5 pt-5 row mobile">
        <div *ngFor="let item of services" class="col-4 pb-5 middle">
            <div class="card" style="width: 25rem; height: 45rem;">
                <img [src]="item.imageUrl" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title middle">{{item.title}}</h5>
                    <p class="card-text pt-3">{{item.text}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row aboutMe pt-5 pb-5">
    
    <div class="col-12 col-md-8" >
        <div class="titleAboutMe pb-5 pt-5 middle pe-5"><h2>Rólam</h2></div>
        <div class="descTitle middle pb-5 pt-3">Üdvözletem lehendő vendégem!</div>
        <div class="middle">
            <div class="descAboutMe">
                Engem Mayer Krisztiánnak hívnak és ha rá találtál a weboldalamra akkor feltehetőleg a szolgáltatásom érdekel. Elég fiatal korom óta masszírozok , van benne tapasztalatom. Szeretem amit csinálok mert tudom mennyit tudok ezzel segíteni.Ez volt a fő indokom amiért elkezdtem. A célom minden egyes ügyfelemnél, hogy fájdalmait könnyítve és jó hangulattal távozzanak. Lehet azt gondolja pénz pocsékolás, de had említsem meg, hogy köztudottan a masszírozás kényelmesebbé teszi a minden napjait legyen szó munkáról, sportolásról, alvásról és kikapcsolódásról. Mondjon a masszázsom által velem együtt NEM-et a fájdalomra!
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 left">
        <div class="square">
            <div class="squareImage"></div>
        </div>
    </div>
</div>

<footer class="footer text-white py-4">
  <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
    <div class="mb-2 mb-md-0">📧{{ infoEmail }}</div>
    <div></div>
    <div class="d-flex gap-3">
      <a href="https://www.facebook.com/Tigo9812" target="_blank" class="text-white"><img class="facebook" src="../../assets/Facebook-logo.png" alt=""></a>
      <a href="https://www.instagram.com/tigo_masszazs/" target="_blank" class="text-white"><img src="../../assets/Instagram-Logo.wine.png" alt="" class="instagramm"></a>
    </div>
  </div>
</footer>

