
.bgGreen{
  background-color: #46f08a;
}
h2{
  font-weight: bolder;
}
h1{
  font-weight: bolder;
}
.circle{
  height: 225px;
  background-color: #185c33;
  width: 225px;
  border-radius: 50%;
  border: 2px solid black;
  
}
.circleImage {
  background-image: url("../../assets/masszazs.png");
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}
.serviceBg{
  color: #185c33;
  background-color: beige;
}

.row{
  margin-right: 0;
  margin-left: 0;
}

.square{
  height: 400px;
  width: 400px;
  
}
.card{
  color: #185c33;
}

.descAboutMe{
  width: 50%;
}
.descTitle{
  font-size: 14pt;
  font-weight: bold;
}

.squareImage{
  background-image: url("../../assets/profilkep.jpg");
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
}
.aboutMe{
  height: 600px;
  color: #185c33;
}

.titleAboutMe{
  color: #185c33;
  padding-left: 50px;
}

.footer{
  background-color: #185c33;
}




@media (max-width: 780px) {
  .mobile {
    flex-direction: column !important;
    align-items: center;
    gap: 1rem;
  }

  .mobile .col-4 {
    width: 100% !important;
    max-width: 90%;
  }

  .services-title {
    text-align: center;
    display: block;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .mobileFix{
    margin-left: 35px;
  }
  .descAboutMe{
    width: 90%;
  }
  .aboutMe{
    height: 1200px;
  }
}
@media (min-width: 900px) {
  .card{
    height: 35rem;
  }
}


