<app-navbar></app-navbar>

<div class="block-time-container">
  <h3>Időpont letiltása</h3>
  <label>Dátum: <input type="date" [(ngModel)]="date" /></label>
  <label>Időpont (pl. 10:30): <input type="time" [(ngModel)]="time" /></label>
  <button (click)="blockTime()">Letiltás</button>
</div>

<div style="text-align: center; padding: 1rem;">
      <button (click)="toggleVisibility()">
        {{ isVisible ? 'Időpontfoglalás kikapcsolása' : 'Időpontfoglalás bekapcsolása' }}
      </button>
</div>

<table>
  <tr *ngIf="profile.length>0">
    <th>Name</th>
    <th class="mobile">Age</th>
    <th>Gender</th>
    <th>Email</th>
    <th></th>
  </tr>
  <tr *ngFor="let item of profile">
    <th>{{item.username}}</th>
    <th class="mobile">{{item.age}}</th>
    <th>{{item.gender}}</th>
    <th>{{item.email}}</th>
    <th class="middle"><button (click)="onDelete(item.id)">Törlés</button></th>
  </tr>
  <div *ngIf="profile.length == 0">
    <div class="middle"><h2 style="color: red;">Még nincsenek felhasználók!</h2></div>
  </div>
</table>
