<app-navbar></app-navbar>

<div class="reservationContainer">
  <div class="middle">
    <div class="row pickerContainer">
      <div class="col-12 col-md-6">
        <div class="middle pt-5">
          <h2>Időpontfoglalás</h2>
        </div>
  
        <div class="middle pt-2 pb-5">
          <label>
            Dátum:
            <input type="date" [(ngModel)]="date" (change)="loadAvailability()" />
          </label>
        </div>
      </div>
  
  
      <div class="col-12 col-md-6">
        <div class="middle pt-5">
          <h2>Szolgáltatás:</h2>
        </div>
        <div class="middle pb-5 pt-3">
          <select class="form-select" [(ngModel)]="serviceId">
            <option [ngValue]="null" disabled selected>Válassz egy szolgáltatást</option>
            <option *ngFor="let service of serviceData" [ngValue]="service.id">
              {{ service.name }}
            </option>
          </select>
        </div>
      </div>
  
    </div>
  </div>
  
  <div class="middle pt-2 pb-2">
    <h3>Elérhető időpontok:</h3>
  </div>
  <div class="middle" >
    <ul class="list-inline">
      <li class="list-inline-item" *ngFor="let time of availableTimes" style="margin-left: 30px;">
        <label class="btn text-dark">
          <input
            type="radio"
            name="time"
            [value]="time"
            [(ngModel)]="selectedTime"
            autocomplete="off"
          />
          {{ time }}
        </label>
      </li>
    </ul>
  </div>
  
  <div class="middle pb-5 pt-3">
    <button (click)="bookAppointment()" [disabled]="hasExistingAppointment">
      Foglalás
    </button>
  </div>
  
  <div class="middle pt-5" *ngIf="hasExistingAppointment" style="color: red; ">
    Már van egy aktív foglalásod! Egyszerre csak egy időpontot foglalhatsz!
  </div>
</div>