h2 {
  color: #2c3e50;
}

label {
  display: block;
  margin: 10px 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin: 5px 0;
}

button {
  margin-top: 15px;
  padding: 8px 12px;
  background-color: #2980b9;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #3498db;
}
.list-inline{
  width: 30%;
  border: 2px solid blue;
  border-radius: 15px;
  margin: 20px;
  padding: 25px;
}

@media (max-width:450px) {
  .form-select{
    width: 150px;
  }
  .list-inline{
    margin-right: 10px;
    padding: 0;
    width: 80%;
  }
  .list-inline-item{
    padding: 10px 0 10px 20px;

  }
}

