.imageContainer{
    height: 910px;
    width: 40%;
}
.imagePrices{
    height: 100%;
    width: 100%;
}
.middle{
    background-color: beige;
}

@media (max-width:500px) {
    .imageContainer{
        width: 100%;
    }
}